header {
    padding-top:40px;
}

footer {
    padding-bottom: 40px;
    color: #999;
    font-size: 12px;
}

h1 {
    font-size: 36px;
}

h1 a {
    color: #000;
}

h2 + h3 {
    margin-top: 4px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 4px;
}

h4 {
    margin-top: 28px;
    margin-bottom: 4px;
}

p {
    font-size: 14px;
    line-height: 26px;
    text-align: justify;
}

p {
    margin-top:12px; 
    margin-bottom:12px; 
}

blockquote {
    padding-top: 10px;
    padding-bottom: 10px;
}

ol {
    padding-left: 12px;
}

li {
    font-size: 14px;
    line-height: 24px;
}

hr {
    margin: 16px 0;
}

div.asset {
    padding: 10px;
    text-align: center;
}

div.caption {
    text-align: center;
}